
  

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: white;
    overflow: hidden;
    
  }
  
 
  .curvy-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    clip-path: path('M0,100 Q40,50 0,100 T100,100 T300,200 T1000,100 T6000,0 L1200,800 L0,800 Z');
  }
  
  @keyframes fade-in{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .login-form {
    z-index: 2;
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    animation: fade-in 2s ease forwards;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
    font-weight: bold;
  }
  

  .input-field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
  
  .input-field i {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .input-field input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
  }
 

  .btn-login, .btn-register {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-login {
    background: black;
    color: white;
  }
  
  .btn-login:hover {
    background: #444;
  }
  
  .btn-register {
    background: white;
    color: black;
    border: 1px solid black;
  }
  
  .btn-register:hover {
    background: black;
    color: white;
  }
  

  @media (max-width: 768px) {
    .login-form {
      padding: 20px;
    }
  
    .login-form h2 {
      font-size: 20px;
    }
  
    .btn-login, .btn-register {
      font-size: 14px;
      padding: 8px;
    }
  }
  